header {
  background-color: rgba(164, 240, 164, 0.457);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo img {
  max-width: 20%;
  max-height: 20%;
  min-width: 20%;
  border-radius: 0%;
}

.TITULO {
  text-decoration: none;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.BARRA_INICIO {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10;
  padding: 0;
}

.BARRA_INICIO a {
  text-decoration: none;
  color: #3c3d3c;
  font-weight: normal;
  font-size: 1vw;
  font-family: "Raleway", Geneva, Tahoma, sans-serif;
  margin: 5;
}
